@mixin border-radius($pixel) {
  border-radius: $pixel !important;
}

// When the Inputs are 4 Variables
@mixin border-radius-dots($tl, $tr, $br, $bl) {
  border-top-left-radius: $tl !important;
  border-top-right-radius: $tr !important;
  border-bottom-right-radius: $br !important;
  border-bottom-left-radius: $bl !important;
}

@mixin box-shadow-dark($distance) {
  box-shadow: $distance $distance $distance #000 !important;
}

@mixin dark-text {
  color: black !important;
}

@mixin dark-flat-text {
  color: #3b330f !important;
}

@mixin bg-primary {
  background-color: $primary;
}

@mixin bg-tr-white {
  /* Fallback for web browsers that doesn't support RGBa */
  background-color: rgb(233, 177, 177) transparent !important;
  /* RGBa with 0.6 opacity */
  background-color: rgba(200, 200, 200, 0.6) !important;
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#999, endColorstr=#999) !important;
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#999, endColorstr=#999)" !important;
}

@mixin bg-tr-gold {
  /* Fallback for web browsers that doesn't support RGBa */
  background-color: #ada996 transparent !important;
  /* RGBa with 0.6 opacity */
  background-color: #85827381 !important;
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ada996, endColorstr=#ada996) !important;
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ada996, endColorstr=#ada996)" !important;
}

@mixin bg-dark-gradient {
  background: $light; /* fallback for old browsers */
}

@mixin bg-light {
  /* Created with https://www.css-gradient.com */
  background: #f2feff;
  background: -webkit-radial-gradient(center, #f2feff, #cef9fc);
  background: -moz-radial-gradient(center, #f2feff, #cef9fc);
  background: radial-gradient(ellipse at center, #f2feff, #cef9fc);
}

@mixin bg-dark-gradient {
  /* Created with https://www.css-gradient.com */
  background: #333;
  background: -webkit-radial-gradient(center, #333, #111);
  background: -moz-radial-gradient(center, #333, #111);
  background: radial-gradient(ellipse at center, #333, #111);
}

@mixin bg-tr {
  /* Fallback for web browsers that doesn't support RGBa */
  background-color: rgb(0, 0, 0) transparent !important;
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 0, 0, 0.42) !important;
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#33000000) !important;
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#33000000)" !important;
}

@mixin inset-shadow {
  -webkit-box-shadow: inset 0px 1px 10px -1px rgba(0, 0, 0, 0.36) !important;
  box-shadow: inset 0px 1px 10px -1px rgba(0, 0, 0, 0.36) !important;
}

@mixin bg-tr-white {
  /* Fallback for web browsers that doesn't support RGBa */
  background-color: rgb(233, 177, 177) transparent !important;
  /* RGBa with 0.6 opacity */
  background-color: rgba(200, 200, 200, 0.6) !important;
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#999, endColorstr=#999) !important;
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#999, endColorstr=#999)" !important;
}

@mixin bg-tr-light {
  /* Fallback for web browsers that doesn't support RGBa */
  background-color: #182848 transparent !important;
  /* RGBa with 0.6 opacity */
  background-color: #18284881 !important;
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#18284881, endColorstr=#1828481a) !important;
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#18284881, endColorstr=#1828481a)" !important;
}

@mixin bg-tr-gradient-up {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

@mixin bg-tr-gradient-up-red {
  background-image: linear-gradient(
    to top,
    rgb(255, 0, 0, 1),
    rgba(255, 0, 0, 0.2)
  );
}

@mixin bg-tr-gradient-down-red {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 1),
    rgba(255, 0, 0, 0.1)
  );
}

@mixin bg-tr-gradient-down {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
}

@mixin text-white {
  color: #fff !important;
  text-shadow: 1px 1px 1px $dark;
}

@mixin circular {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

@mixin box-near-shadow {
  transition: all 0.09s ease !important;
  box-shadow: 1px 1px 1px #16001a !important;
  -moz-box-shadow: 1px 1px 1px #16001a !important;
  -webkit-box-shadow: 1px 1px 1px #16001a !important;
}

@mixin box-medium-shadow {
  transition: all 0.09s ease !important;
  -webkit-box-shadow: 1.5px 3px 12px -6px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 1.5px 3px 12px -6px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 1.5px 3px 12px -6px rgba(0, 0, 0, 0.75) !important;
}

@mixin box-shadow {
  transition: all 0.09s ease !important;
  -webkit-box-shadow: 3px 4px 35px -12px rgba(0, 0, 0, 0.9) !important;
  -moz-box-shadow: 3px 4px 35px -12px rgba(0, 0, 0, 0.9) !important;
  box-shadow: 3px 4px 35px -12px rgba(0, 0, 0, 0.9) !important;
}

@mixin box-shadow-app-holder {
  transition: all 0.09s ease !important;
  -webkit-box-shadow: 3px 3px 33px -12px #111 !important;
  -moz-box-shadow: 3px 3px 33px -12px #111 !important;
  box-shadow: 3px 3px 33px -12px #111 !important;
}

@mixin box-shadow-light {
  transition: all 0.09s ease !important;
  -webkit-box-shadow: -4px 5px 63px -26px #fce4a6 !important;
  -moz-box-shadow: -4px 5px 63px -26px #fce4a6 !important;
  box-shadow: -4px 5px 63px -26px #fce4a6 !important;
}

@keyframes float {
  0% {
    text-shadow: 0 6px 18px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    text-shadow: 0 21px 18px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-9px);
  }
  100% {
    text-shadow: 0 6px 12px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
