@import "app-mixins.scss";

.App-assistant {
  @include box-shadow;
  transition: all 0.3s ease;
  border: solid 3px #fce4a6;
  position: fixed;
  left: -333px;
  top: 16.2%;
  z-index: 999;
  color: #111;

  &.active {
    left: 10%;
  }

  &_locker {
    @include bg-tr;
    transition: all 0.3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 996;
    opacity: 0.9;
  }

  &_activator {
    transition: all 0.3s ease;
    display: inline-block;
    position: fixed;
    left: 27px;
    top: -333px;
    z-index: 999;

    &.is-visible {
      top: 27px;
    }

    button {
      @include bg-dark-gradient;
    }
  }
}
